<div class="debt-detail">
    <p>From: {{debt.date.from | date}}</p>
    <p>To: {{debt.date.to | date}}</p>

    <table mat-table [dataSource]="debt.namazes" class="mat-elevation-z8">
        <ng-container matColumnDef="all">
            <th mat-header-cell *matHeaderCellDef> All </th>
            <td mat-cell *matCellDef="let element; index as i">
<!--                {{element.sabah}}-->
                <input type="checkbox" name="all{{i}}" (click)="toggleAllDay(i)">
            </td>
        </ng-container>

        <ng-container matColumnDef="sabah">
            <th mat-header-cell *matHeaderCellDef> Sabah </th>
            <td mat-cell *matCellDef="let element; index as i">
<!--                {{element.sabah}}-->
                <input type="checkbox" name="sabah{{i}}" [(ngModel)]="element.sabah">
            </td>
        </ng-container>

        <ng-container matColumnDef="oyle">
            <th mat-header-cell *matHeaderCellDef> Oyle </th>
            <td mat-cell *matCellDef="let element; index as i">
<!--                {{element.oyle}}-->
                <input type="checkbox" name="oyle{{i}}" [(ngModel)]="element.oyle">
            </td>
        </ng-container>

        <ng-container matColumnDef="ekindi">
            <th mat-header-cell *matHeaderCellDef> Ekindi </th>
            <td mat-cell *matCellDef="let element; index as i">
<!--                {{element.ekindi}}-->
                <input type="checkbox" name="ekindi{{i}}" [(ngModel)]="element.ekindi">
            </td>
        </ng-container>

        <ng-container matColumnDef="akhsham">
            <th mat-header-cell *matHeaderCellDef> Akhsham </th>
            <td mat-cell *matCellDef="let element; index as i">
<!--                {{element.akhsham}}-->
                <input type="checkbox" name="akhsham{{i}}" [(ngModel)]="element.akhsham">
            </td>
        </ng-container>

        <ng-container matColumnDef="yatsi">
            <th mat-header-cell *matHeaderCellDef> Yatsi </th>
            <td mat-cell *matCellDef="let element; index as i">
<!--                {{element.yatsi}}-->
                <input type="checkbox" name="yatsi{{i}}" [(ngModel)]="element.yatsi">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
