.debt-detail {
  padding-top: 15px;
  width: 310px;

  .dates {
    display: flex;
    justify-content: space-between;
  }

  .debt-table {
    padding-top: 2px;
    background-color: rgb(66, 66, 66);

    .debt-table-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;

      .mi {
        display: none;
      }

      .debt-table-data {
        flex-grow: 1;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        box-sizing: border-box;

        &.green {
          background-color: #1e6b1e;
        }

        &.check {
          .mi.check {
            display: block;
          }
        }

        &.red {
          background-color: #a53e3e;
        }

        &.cancel {
          .mi.cancel {
            display: block;
          }
        }

        label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            display: none;
          }
        }
      }
    }

    .debt-table-row.shake-and-hide {
      animation: shaker 1s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      opacity: 0;
      transition: opacity 1.5s linear;
    }

    .shake {
      animation: shaker 1s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    .hide {
      visibility: hidden;
      opacity: 0;
      transition: visibility 1s, opacity 1s linear;
    }

    .hidden {
      display: none;
    }
  }

  .mat-tab-label {
    min-width: 103px!important;
  }
}

@keyframes shaker {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
