<div class="debt-detail">
    <div class="dates">
        <p>From: {{debt.date.from | date}}</p>
        <p>To: {{debt.date.to | date}}</p>
    </div>

    <mat-tab-group>
        <mat-tab label="All">
            <app-namaz-debt-table
                    [namazes]="debt.namazes"
                    (toggle)="onToggle($event)"
            ></app-namaz-debt-table>
        </mat-tab>
        <mat-tab label="Debt">
            <app-namaz-debt-table
                    [namazes]="debtDays"
                    (toggle)="onToggle($event)"
            ></app-namaz-debt-table>
        </mat-tab>
        <mat-tab label="Done">
            <app-namaz-debt-table
                    [namazes]="doneDays"
                    (toggle)="onToggle($event)"
            ></app-namaz-debt-table>
        </mat-tab>
    </mat-tab-group>
</div>
